@import "https://at.alicdn.com/t/c/font_4752690_ft5sq9v23bh.css";

.zcg-icon {
  display: inline-block;

  &.icon-xs {
    font-size: 12px;
  }

  &.icon-sm {
    font-size: 14px;
  }

  &.icon-md {
    font-size: 16px;
  }

  &.icon-lg {
    font-size: 20px;
  }

  &.icon-xl {
    font-size: 24px;
  }
}
